

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: grey;
  
 

}

.logo-heart {
  color: #00ab6c;
  font-size: 30px;
  margin-right: 10px;
}

.input {
  width: 450px;
  
}

.logo {
  margin-left: 10%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
  .input {
    width: 100%;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
     
  
  }

  .logo {
    margin-left: 5%;
  }
  .patient-list {
    margin-top: 15%;
    margin-Left: 10%;
  }
}

.patient-list{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

/* patient records page */
.records-head {
  margin-top: 2%;
  margin-left: 20%;
  margin-bottom: 4%;
}
.h4 {
  color: #00ab6c;
}
.h5 {
  color: blue;
}
.heart-vital {
  color: #800000;
  font-size: 40px;
  
}
.fa-file-medical-alt {
  color: #800000;
  font-size: 40px;

}
.fa-thermometer {
  color: #800000;
  font-size: 40px;

}

.vitals-container {
  width: 65rem;
  margin-left: 10%;
  align-items: center;
  margin: auto;
}
.vitals-card{
  margin-left: 10%;
  margin-top: 2%;
  width: 18rem;
  height: 15rem;
}
.h4 {
  font-size: 18px;
}

.sys {
  margin-left: 25%;
  
}
.sys-dys {
  font-size: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.status-blood-pressure {
  margin-left: 30%;
}
.status {
  font-size: 15px;
  color: #800000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .vitals-card {
    margin-left: 12%;
  }
  .vitals-container{
    width: 20rem;
    margin-left: 2%;
    align-items: center;
  }
}

.graphs {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  text-align: center;
}

.about-us {
  text-align: center;
  margin: 3em 2em 5em 2em;
  
}

.about-us-title {
  font-weight: bolder;
  font-size: 3em;
}

.about-us-text {
  margin: 2em 0em 0em 0em;
}

.about-us-text #p {
  font-size: 2em;
}

.about-us-text-p {
  font-size: 1.5em;
}







